#content-full-article {
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 170px;
    background-color: #fffaf7;
}

#right-column-article {
    padding-left: 30px;
}

#right-group-btn {
    margin-left: auto;
}

#left-column-article > div > a > img {
    width: 90%;
}

#left-column-article > div:first-child {
    margin-top: 0;
}

@media only screen and (max-width: 700px) {
    #content-full-article {
        margin-left: 5px;
        margin-right: 5px;
        padding-top: 95px;
    }

    #right-column-article {
        padding-left: 0;
    }
}

@media only screen and (max-width: 768px) {
    #center-column-article {
        padding: 10px;
    }

    #left-column-article > div > a > img {
        width: 100%;
    }

    #left-column-article > div:first-child {
        margin-top: 50px;
    }

    #right-group-btn {
        margin-left: 0;
        margin-top: 10px;
    }
}

#share-btn > table {
    background: #4267b2;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    height: 20px;
}

#share-btn > table:hover {
    background: #365899;
}

#share-btn > table:active {
    background: #577fbc;
}

.fb-like > span {
    vertical-align: sub !important;
}

article > h5 {
    font-family: 'Noto Serif';
    font-weight: bold;
    font-size: 30px;
}

#extra-info {
    font-size: 11px;
    color: #999;
    font-weight: 400;
}

#share-btn {
    padding-left: 5px;
}

#share-icon {
    padding-left: 2px;
}

#share-icon > div {
    width: 16px;
    height: 16px;
    background-image: url('../svg/fb.svg');
}

#share-label {
    padding: 0 4px;
    font-weight: 500;
    font-size: 11px;
}

#share-number {
    padding-right: 4px;
    font-weight: 200;
    font-size: 10px;
    line-height: 20px;
}

.line-article {
    height: 1px;
    background-color: #e6e6e6;
    margin-top: 10px;
}

#short-description {
    font-size: 19px;
    line-height: 24px;
    color: #222;
    font-family: 'Noto Serif';
    font-weight: bold;
    margin-top: 10px;
}

.suggest-article > td:first-child {
    vertical-align: top;
    padding-top: 7px;
}

.suggest-article > td:last-child {
    line-height: 19px;
}

.suggest-article > td:first-child > div {
    width: 7px;
    height: 7px;
    background-color: #ad2282;
    border-radius: 999px;
    margin: 0 auto;
}

.suggest-article > td:last-child > a {
    text-decoration: none;
    color: #817676;
    font-size: 13px;
    font-weight: 600;
}

#main-content-article {
    margin-top: 10px;
    color: #222;
    font-size: 17px;
    line-height: 30px;
    font-family: 'Noto Serif';
    text-align: justify;
}

#author {
    text-align: right;
    font-weight: bold;
    font-size: 17px;
}

#left-column-article > div {
    margin-top: 50px;
}