#content-full-article {
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 170px;
    background-color: #fffaf7;
}

@media only screen and (max-width: 700px) {
    #content-full-article {
        margin-left: 5px;
        margin-right: 5px;
        padding-top: 95px;
    }
}

#share-btn {
    background: #4267b2;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    height: 20px;
}

#share-btn:hover {
    background: #365899;
}

#share-btn:active {
    background: #577fbc;
}

.fb-like > span {
    vertical-align: sub !important;
}