#label-line-article {
    height: 3px;
    background-color: #0b8e2d;
}

#label-article {
    font-size: 15px;
    color: #0b8e2d;
    font-weight: bold;
    padding: 5px 0;
    margin-bottom: 30px;
}

.divider-article {
    height: 1px;
    background-color: #c3c3c3;
    margin-bottom: 10px;
    margin-top: 20px;
}

.item-article {
    margin-top: 10px;
}

.right-info-article {
    padding-left: 20px !important;
}

.right-info-article > h3 {
    line-height: 22px;
}

.right-info-article > h3 > a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
}

@media only screen and (max-width: 991px) {
    .right-info-article {
        padding-left: 0 !important;
    }
}

.icon-info-article {
    padding: 0;
}

.icon-info-article > div {
    height: 12px;
    background-color: #0f96c9;
}

tr > .icon-info-article:nth-child(even) {
    padding-right:20px;
    padding-left: 3px;
    font-size: 13px;
    font-weight: 400;
    color: #0f96c9;
}

.time {
    font-size: 13px;
    color: #888;
    font-weight: 400;
    margin-top: 3px;
}

.short-info {
    font-size: 13px;
    color: #4d4d4d;
    line-height: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
}