.content-detail {
	margin-left: 10%;
	margin-right: 10%;
	background-color: #f9f9f9;
	border: 1px solid #bbb;
	padding: 15px;
}

#right-panel {
	padding-left: 15px;
}

#sold:after {
	right: 0;
}

#sold:before {
	left: 0;
}

#sold:before, #sold:after {
	content : "";
	position: absolute;
	z-index: 100;
	top: 35px;
	width: 1px;
	height: 30%;
	background-color: #b7b7b7;
}

@media only screen and (max-width: 700px) {
	.content-detail {
		margin-left: 3px;
		margin-right: 3px;
		padding: 5px;
	}

	#right-panel {
		padding-left: 0px;
		padding-top: 20px;
	}

	#sold:before, #sold:after {
		display: none;
	}
}

#thumbnail-small {
	width: 95%;
	margin: 10px auto 0px;
	text-align: center;
}

#thumbnail-small > div {
	width: 16%;
	padding: 3px;
	display: inline-block;
	margin-left: 5%;
}

#thumbnail-small > div:first-child {
	margin-left: 0px;
}

#sold {
	width: 100%;
}

#sold > div {
	text-align: center;
}

#title {
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
}

#short-description {
	line-height: 20px;
	font-size: 13px;
	margin-top: 10px;
}

.line {
	height: 1px;
	background-color: #b7b7b7;
}

.column-info {
	height: 100px;
	display: flex;
	align-items: center;
}

#column-info-first {
	margin: 0px auto;
	text-align: center;
}

#column-info-third {
	width: 100%;
	text-align: center;
}

#price {
	color: #ff4a4a;
	font-size: 30px;
	font-weight: 700;
}

.price-detail {
	font-size: 13px;
	color: #9b9b9b;
	font-weight: 300;
}

#discount {
	font-weight: bold;
	color: #ff4a4a;
}

.number-display {
	font-weight: 700;
	font-size: 25px;
}

#number-display-sold {
	color: #6e5ade;
}

#number-display-time {
	color: #00710e;
}

.extra-display {
	font-size: 17px;
	color: #424242;
	font-weight: 500;
}

.selection-card {
	margin-top: 8px;
	display: inline-block;
	border: 1px solid #c7136f;
	border-radius: 5px;
	padding: 3px 6px;
	font-size: 14px;
	margin-right: 5px;
	color: #c7136f;
	cursor: pointer;
}

.selection-card-active, .selection-card:hover {
	color: white;
    background-color: #c7136f;
}

#label-option {
	font-size: 14px;
	color: #818181;
	font-weight: 400;
}

#add-cart {
	background-color: #ea740e;
    padding: 0px 20px 0px 80px;
}

#bookmark-product {
	background-color: #1fa9b7;
    padding: 0px 40px 0px 100px;
}

.btn-detail-page {
	height: 50px;
	display: flex;
    align-items: center;
    width: fit-content;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    font-size: 15px;
    font-weight: 450;
}

#add-cart:hover {
	background-color: #f0994e;
}

#bookmark-product:hover {
	background-color: #3dc6d4;
}

.btn-detail-page:active {
	top: 1px;
}

#add-cart:before {
	background-image: url('../svg/shopping_cart.svg');
	
}

#bookmark-product:before {
	background-image: url('../svg/rate_star.svg');
}

.btn-detail-page:before {
	content : "";
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 50px;
	background-color: rgba(0,0,0,0.2);
	background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}