.content-detail {
	margin-left: 10%;
	margin-right: 10%;
	background-color: #f9f9f9;
	border: 1px solid #bbb;
	padding: 15px;
}

@media only screen and (max-width: 700px) {
	.content-detail {
		margin-left: 3px;
		margin-right: 3px;
	}
}

#thumbnail-small {
	width: 95%;
	margin: 10px auto 0px;
	text-align: center;
}

#thumbnail-small > div {
	width: 16%;
	padding: 3px;
	display: inline-block;
	margin-left: 5%;
}

#thumbnail-small > div:first-child {
	margin-left: 0px;
}