.category-more-detail {
	margin-top:70px;
	padding: 0px 7%;
}

.tab-content {
	border: 1px solid #c9c9c9;
	border-top: none;
	padding: 5px;
}

.category-title {
	display: flex;
	margin: 0px 300px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-15 {
	width: 20% !important;
	float: left;
}

@media (min-width: 768px) {
	.col-sm-15 {
		width: 20%;
		float: left;
	}
}

@media only screen and (max-width: 700px) {
	.tab-content {
		padding: 2px;
	}
}

@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20% !important;
		float: left;
		max-width: 20% !important;
		flex: 0 0 20% !important;
	}
}

.banner-padding {
	padding: 3px !important;
}

.container-fluid .row .banner-padding {
	height: 400px;
}

@media only screen and (max-width: 700px) {
	#banner {
		padding: 0px !important;
	}

	.banner-padding {
		padding: 3px 0px !important;
	}

	.container-fluid .row .banner-padding {
		height: 300px;
	}

	.category-more-detail {
		padding: 0px !important;
	}

	.category-title {
		margin: 0px !important;
	}
}

#banner {
	padding: 0px 7%;
}

.carousel-indicators li {
	width: 12px !important;
	height: 12px !important;
	cursor: pointer;
	border-radius: 999px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	width: 30px !important;
	height: 30px !important;
}

.carousel-control-next-icon {
	background-image: url('../svg/chevron-sign-to-right.svg') !important;
}

.carousel-control-prev-icon {
	background-image: url('../svg/chevron-sign-to-left.svg') !important;
}

.banner-around-item:hover {
	filter: brightness(120%);
	-webkit-filter:brightness(120%);
	transition: filter .15s ease-in;
}

.container-fluid .row .banner-padding div {
	height: 100%;
}

.carousel-item {
	height: 100%;
}

.carousel-item div {
	background-size: 100% 100%;
}

.banner-item {
	height: 200px !important;
}

.banner-around-item {
	background-size: cover;
	background-position: center;
}

.nav-tabs .nav-link.active {
	border: none;
	border-radius: unset;
	color: #2e81a0 !important;
	font-size: 13px;
	padding: 5px 10px;
}

.nav-tabs .nav-link {
	border: none !important;
	border-radius: unset;
	color: #2e81a0 !important;
	font-size: 13px;
	padding: 5px 10px;
}

.nav-tabs {
	border-bottom:none !important;
}

.nav-tabs .nav-item {
	margin-bottom: 0px !important;
}

.nav-tabs .nav-link:hover {
	background-color: #bbb;
	border-radius: 0px;
}

.card:hover {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.line-category {
	height: 3px;
}

.category-title-style {
	height: 40px;
	display: flex;
	align-items: center;
}

.category-icon {
	height: 20px;
	background-color: white;
}

.mom-category-icon {
	width: 13px !important;
	-webkit-mask-size: 13px 20px;
}

.category-title-content {
	margin-left: 10px !important;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

.tab-category {
	background-color: #c9c9c9;
}

.tab-category .nav-tabs {
	display: flex;
	width: fit-content;
}

.mom-line {
	width: calc((100% - 140px)/2);
}

#mom-width-category {
	width: 140px;
}

.bottom-category {
	margin-top: 30px;
}

.bottom-category a {
	text-decoration: none !important;
}

#line-home {
	height: 4px;
    background-color: #e8467b;
    margin-top: 70px;
}

.introduce-item {
	padding: 20px !important;
}

.icon-introduce {
	height: 70px;
}

.title-introduce {
	text-align: center;
	margin-top: 12px;
	color: #7e6aee;
	font-size: 20px;
	font-weight: bold;
}

.content-introduce {
	color: rgba(0,0,0,.54);
	font-size: 14px;
	margin-top: 3px;
	text-align: center;
}

#delivery-icon {
	width: 70px;
	background-image: url('../svg/free-delivery.svg');
}

#medal-icon {
	width: 46px;
	background-image: url('../svg/medal.svg');
}

#comfortable-icon {
	width: 80px;
	background-image: url('../svg/armchair_com.svg');
}