.hand {
	cursor: pointer;
}

#header-desktop {
	display: block;
}

#header-mobile {
	display: none;
}

@media only screen and (max-width: 700px) {
    #header-desktop {
        display: none;
    }

    #header-mobile {
        display: block;
    }
}

.item_menu {
	width: 100px;
	height: 35px;
}

.item_menu a {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	text-decoration: none !important;
}

.item_menu:hover {
	background-color: #9100ff !important;
}

.item_menu a:hover div .item_menu_icon {
	background-color: #ff6262 !important;
}

.item_menu a:hover div .item_menu_content {
	color: #ff6262 !important;
}