@media only screen and (max-width: 700px) {
	
}

.panel-title {
	font-size: 14px;
    padding: 7px;
    background-color: #45bbff;
    color: white;
    font-weight: bold;
    display: block;
}

.panel-title:hover {
	text-decoration:none;
	color: white;
}

.filter-box {
	border: 1px solid;
    border-top: none;
}