#right-panel {
    padding-left: 2%;
}

#main-panel {
    padding: 0px 4%;
}

.panel-title:first-child {
    margin-top: 70px;
}

@media only screen and (max-width: 700px) {
	#right-panel {
        padding-left: 0px;
        margin-top: 10px;
    }

    #main-panel {
        padding: 0px 5px;
    }

    .panel-title:first-child {
        margin-top: 0px;
    }
}

.panel-title {
	font-size: 13px;
    padding: 7px;
    background-color: #45bbff;
    color: white;
    font-weight: bold;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 10px;
}

.panel-title:hover {
	text-decoration:none;
	color: white;
    background-color: #28affd;
}

.filter-box {
	border: 1px solid;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: #45bbff;
    padding: 5px;
    background-color: #d8d8d8;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    line-height: normal;
}

.quantity-product {
    color: #a1a1a1;
    font-size: 13px;
}

.arrow-filter {
    font-size: 16px;
    font-weight: bold;
}

.button-search-group {
    text-align: center;
}

.button-search-group button {
    background-color: #d7e5f5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7e5f5), color-stop(100%, #cbe0f5));
    background-image: -webkit-linear-gradient(top, #d7e5f5, #cbe0f5);
    background-image: -moz-linear-gradient(top, #d7e5f5, #cbe0f5);
    background-image: -ms-linear-gradient(top, #d7e5f5, #cbe0f5);
    background-image: -o-linear-gradient(top, #d7e5f5, #cbe0f5);
    background-image: linear-gradient(top, #d7e5f5, #cbe0f5);
    border-top: 1px solid #abbbcc;
    border-left: 1px solid #a7b6c7;
    border-bottom: 1px solid #a1afbf;
    border-right: 1px solid #a7b6c7;
    border-radius: 12px;
    -webkit-box-shadow: inset 0 1px 0 0 white;
    box-shadow: inset 0 1px 0 0 white;
    color: #1a3e66;
    font: normal 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 5px 15px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    font-size: 13px;
    color: #2c6310;
}

.button-search-group button:focus {
    outline: none;
}

.button-search-group button:hover {
    background-color: #ccd9e8;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd9e8), color-stop(100%, #c1d4e8));
    background-image: -webkit-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: -moz-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: -ms-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: -o-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: linear-gradient(top, #ccd9e8, #c1d4e8);
    border-top: 1px solid #a1afbf;
    border-left: 1px solid #9caaba;
    border-bottom: 1px solid #96a3b3;
    border-right: 1px solid #9caaba;
    -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
    box-shadow: inset 0 1px 0 0 #f2f2f2;
    cursor: pointer;
}

.button-search-group button:active {
    border: 1px solid #8c98a7;
    -webkit-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
    box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
}

.slider-handle {
    background-color: white !important;
    background-image: none !important;
    box-shadow: rgba(102,102,102,.62) 0 0 3px !important;
    width: 16px !important;
    height: 16px !important;
    cursor: pointer !important;
}

.slider-track {
    height: 6px !important;
    margin-top: -5px !important;
}

.slider {
    width: 100% !important;
}

.slider-track-low, .slider-track-high {
    background-color:#cbacd8 !important;
}

.slider-selection {
    background-color:#db67e4 !important;
    background-image: none !important;
}

#display-price {
    font-size: 13px;
    text-align: center;
    margin-top: 8px;
    color: #6a6f68;
}

#price-bar-wrapper {
    padding: 8px;
}

.tag-filter {
    background: #d88d41;
    font-size: 12px;
    height: 27px;
    line-height: 26px;
    padding: 0 12px;
    position: relative;
    margin-right: 30px;
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 4px;
    display: inline-block;
    vertical-align: top;
    border-radius: 4px 0 0 4px;
    color: #f4f4f4;
    font-weight: 300;
    border: 1px solid #9a5917;
}

.tag-filter span:last-child {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 27px;
    color: #fff;
    background: #a65e15;
    right: -25px;
    top: -1px;
    text-align: center;
    display: block;
    font-weight: 300;
    font-size: 13px;
    border-radius: 0 4px 4px 0;
    padding-top: 7px;
    border: 1px solid #9a5917;
    border-left: 0;
}

.tag-filter span:last-child:hover {
    background-color: #bf7327;
}

#right-panel > div:first-child {
    font-size: 15px;
    color: #717171;
}

#sort-label {
    text-align: right;
    margin-top: 10px;
}

#sort-label > span {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    color: #757575;
    font-weight: 500;
}