<!DOCTYPE html>
<html lang="en">
<head>
	<title>Chi tiết</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/detail.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

	<link rel="stylesheet" href="photoswipe/photoswipe.css">
	<link rel="stylesheet" href="photoswipe/default-skin/default-skin.css">
	<script src="photoswipe/photoswipe.min.js"></script>
	<script src="photoswipe/photoswipe-ui-default.min.js"></script>
</head>
<body ng-app="SinglePage">
	<!-- header start -->
	<div id="header-desktop" class="fixed-top">
		<div class="status-bar">
			<div>
				<span class="fa fa-phone"></span><span>0907.007.620 - 0166.663.3589</span>
			</div>
		</div>
		<div class="header-accent">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 col-sm-3" id="logo-container">
						<a href="">
							<img src="https://cdn.timviecnhanh.com/asset/home/img/logo.png" alt="logo" title="Web ban hang online uy tin" class="logo-style img-fluid">
						</a>
					</div>
					<div class="col-md-6 col-sm-6" id="search-container">
						<div class="search-container-first-child">
							<div>
								<div class="input-group search-box">
									<input type="text" class="form-control main-input-box" placeholder="Tìm kiếm sản phẩm mong muốn...">
								</div>
								<button type="button" class="hand btn btn-default button-input-box">
									<span class="fa fa-search"></span>
								</button>
							</div>
							<div class="hint-search-box">Nhập sản phẩm bạn muốn tìm. Ví dụ: Quần áo, Nước hoa,...</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 center-middle">
						<div style="margin-left: 0px;" class="hand btn-system">
							<div class="fa fa-shopping-cart"></div>
							<div class="title-btn-system">Giỏ hàng</div>
						</div>
						<div class="hand btn-system">
							<div class="fa fa-bell""></div>
							<div class="title-btn-system">Thông báo</div>
						</div>
						<div class="hand btn-system">
							<div class="fa fa-star"></div>
							<div class="title-btn-system">Yêu thích</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<ul id="category-bar" class="center-horizontal">
				<li class="item_menu mom-style">
					<a href="">
						<div class="center-middle">
							<div class="item_menu_icon mom-icon"></div>
							<div class="item_menu_content">Mẹ&amp;Bé</div>
						</div>
					</a>
				</li>
				<li class="item_menu beautiful-style">
					<a href="">
						<div class="center-middle">
							<div class="item_menu_icon beautiful-icon"></div>
							<div class="item_menu_content">Làm đẹp</div>
						</div>
					</a>
				</li>
				<li class="item_menu fashion-style">
					<a href="">
						<div class="center-middle">
							<div class="item_menu_icon fashion-icon"></div>
							<div class="item_menu_content">Thời trang</div>
						</div>
					</a>
				</li>
				<li class="item_menu furniture-style">
					<a href="">
						<div class="center-middle">
							<div class="item_menu_icon furniture-icon"></div>
							<div class="item_menu_content">Gia dụng</div>
						</div>
					</a>
				</li>
				<li class="item_menu elec-style">
					<a href="">
						<div class="center-middle">
							<div class="item_menu_icon elec-icon"></div>
							<div class="item_menu_content">Điện tử</div>
						</div>
					</a>
				</li>
				<li class="item_menu sport-style">
					<a href="">
						<div class="center-middle">
							<div class="item_menu_icon sport-icon"></div>
							<div class="item_menu_content">Thể thao</div>
						</div>
					</a>
				</li>
				<li class="item_menu shoe-style">
					<a href="">
						<div class="center-middle">
							<div class="item_menu_icon shoe-icon"></div>
							<div class="item_menu_content">Giày dép</div>
						</div>
					</a>
				</li>
				<li class="item_menu office-style">
					<a href="">
						<div class="center-middle">
							<div class="item_menu_icon office-icon"></div>
							<div class="item_menu_content">Văn phòng</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>


	<div id="header-mobile" class="fixed-top header-accent">
		<div class="status-bar">
			<div>
				<span class="fa fa-phone"></span><span>0907.007.620 - 0166.663.3589</span>
			</div>
		</div>
		<nav class="navbar navbar-expand-md navbar-dark">
			<img src="https://cdn.timviecnhanh.com/asset/home/img/logo.png" alt="logo" title="Web ban hang online uy tin" class="logo-style img-fluid">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<div class="container-fluid">
							<div class="row">
								<div class="col-4">
									<div class="hand">
										<div class="fa fa-shopping-cart"></div>
										<div class="title-btn-system">Giỏ hàng</div>
									</div>
								</div>
								<div class="col-4">
									<div class="hand">
										<div class="fa fa-bell"></div>
										<div class="title-btn-system">Thông báo</div>
									</div>
								</div>
								<div class="col-4">
									<div class="hand">
										<div class="fa fa-star"></div>
										<div class="title-btn-system">Yêu thích</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<div class="search-container-first-child">
							<div class="flex-class">
								<div class="input-group search-box">
									<input type="text" class="form-control main-input-box" placeholder="Tìm kiếm sản phẩm mong muốn...">
								</div>
								<button type="button" class="hand btn btn-default button-input-box">
									<span class="fa fa-search"></span>
								</button>
							</div>
							<div class="hint-search-box">Nhập sản phẩm bạn muốn tìm. Ví dụ: Quần áo, Nước hoa,...</div>
						</div>
					</li>
					<li class="nav-item">
						<div class="container-fluid" id="mobile-grid">
							<div class="row">
								<div class="col-6 mobile-grid-item mom-style">
									<a href="">
										<div>
											<div class="item_menu_icon mom-icon"></div>
											<div class="item_menu_content">Mẹ&amp;Bé</div>
										</div>
									</a>
								</div>
								<div class="col-6 mobile-grid-item beautiful-style">
									<a href="">
										<div>
											<div class="item_menu_icon beautiful-icon"></div>
											<div class="item_menu_content">Làm đẹp</div>
										</div>
									</a>
								</div>
								<div class="col-6 mobile-grid-item fashion-style">
									<a href="">
										<div>
											<div class="item_menu_icon fashion-icon"></div>
											<div class="item_menu_content">Thời trang</div>
										</div>
									</a>
								</div>
								<div class="col-6 mobile-grid-item furniture-style">
									<a href="">
										<div>
											<div class="item_menu_icon furniture-icon"></div>
											<div class="item_menu_content">Gia dụng</div>
										</div>
									</a>
								</div>
								<div class="col-6 mobile-grid-item elec-style">
									<a href="">
										<div>
											<div class="item_menu_icon elec-icon"></div>
											<div class="item_menu_content">Điện tử</div>
										</div>
									</a>
								</div>
								<div class="col-6 mobile-grid-item sport-style">
									<a href="">
										<div>
											<div class="item_menu_icon sport-icon"></div>
											<div class="item_menu_content">Thể thao</div>
										</div>
									</a>
								</div>
								<div class="col-6 mobile-grid-item shoe-style">
									<a href="">
										<div>
											<div class="item_menu_icon shoe-icon"></div>
											<div class="item_menu_content">Giày dép</div>
										</div>
									</a>
								</div>
								<div class="col-6 mobile-grid-item office-style">
									<a href="">
										<div>
											<div class="item_menu_icon office-icon"></div>
											<div class="item_menu_content">Văn phòng</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<!-- header stop -->


	<!-- detail start -->
	<div class="content-margin content-detail">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-xl-4" ng-controller="thumbnailController">
					<img id="main-product-image" class="img-fluid hand" alt="Hinh anh chi tiet san pham" ng-click="handleThumbnailMiniClick()">
					<div id="thumbnail-small">
						<div class="hand thumnail-item" ng-repeat="item in thumbnailArr" ng-click="handleThumbnailClick($index,item)" style="background-color: {{$index==currentGallery?'#ee3ad8':'transparent'}};">
							<img src="{{item}}" class="img-fluid" alt="Hinh anh chi tiet san pham">
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-xl-8" id="right-panel">
					<div id="title">Loa Di Động Bluetooth JBL Trip (Đen) - Hàng Chính Hãng</div>
					<div id="short-description">Trải Nghiệm Những Món Ăn Ngon Độc Đáo, Tinh Tế Của Nghệ Thuật Ẩm Thực Thế Giới Trong Tiệc Buffet Cao Cấp Trưa/ Tối Sushi Và Tinh Hoa Lẩu Nhật Tại Annz Japanese Dining – Free Khăn Lạnh. Voucher 359,000 VNĐ, Còn 199,000 VNĐ, Giảm 45%</div>

					<div class="line" style="margin-top: 20px;"></div>
					<div class="container-fluid" style="margin-top: 5px;">
						<div class="row">
							<div class="col-lg-4 col-xl-4 column-info">
								<div id="column-info-first">
									<div id="price">1,000,000<sup>đ</sup></div>
									<div class="price-detail"><span>Tiết kiệm:</span> <span id="discount">20%</span> <span>(125,000 đồng)</span></div>
									<div class="price-detail">Giá gốc: 1,500,000 đồng</div>
								</div>
							</div>
							<div class="col-lg-4 col-xl-4 column-info">
								<div id="sold">
									<div class="number-display" id="number-display-sold">432</div>
									<div class="extra-display">lượt đã mua</div>
								</div>
							</div>
							<div class="col-lg-4 col-xl-4 column-info">
								<div id="column-info-third">
									<div class="number-display" id="number-display-time">40-49</div>
									<div class="extra-display">ngày giao hàng</div>
								</div>
							</div>
						</div>
					</div>
					<div style="margin-top: 5px;" class="line"></div>
					<div style="margin-top: 10px;">
						<div id="label-option">Chọn kích cỡ</div>
						<div ng-controller="optionController">
							<div ng-repeat="item in optionList" class="selection-card{{$index==currentOption?' selection-card-active':''}}" ng-click="handleOptionClick($index)">{{item}}</div>
						</div>
					</div>
					<div style="margin-top: 10px;" class="line"></div>
					<div id="button-group">
						<div class="container-fluid">
							<div class="row">
								<div class="col-lg-3 col-xl-3 button-group-margin" ng-controller="quantityController">
									<div id="quantity-area">
										<span>Số lượng</span>
										<select class="custom-select">
											<option ng-repeat="item in quantity" value="{{item}}">{{item}}</option>
										</select>
									</div>
								</div>
								<div class="col-lg-9 col-xl-9">
									<div class="container-fluid">
										<div class="row">
											<div class="col-lg-6 col-xl-6 button-group-margin">
												<div id="add-cart" class="btn-detail-page">Thêm vào giỏ hàng</div>
											</div>
											<div class="col-lg-6 col-xl-6 button-group-margin">
												<div id="bookmark-product" class="btn-detail-page">Bỏ yêu thích</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- detail stop -->

	<!-- photo start -->
	<!-- Root element of PhotoSwipe. Must have class pswp. -->
	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
    	It's a separate element, as animating opacity is faster than rgba(). -->
    	<div class="pswp__bg"></div>

    	<!-- Slides wrapper with overflow:hidden. -->
    	<div class="pswp__scroll-wrap">

    		<!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
    		<div class="pswp__container">
    			<!-- don't modify these 3 pswp__item elements, data is added later on -->
    			<div class="pswp__item"></div>
    			<div class="pswp__item"></div>
    			<div class="pswp__item"></div>
    		</div>

    		<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
    		<div class="pswp__ui pswp__ui--hidden">

    			<div class="pswp__top-bar">

    				<!--  Controls are self-explanatory. Order can be changed. -->

    				<div class="pswp__counter"></div>

    				<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

    				<button class="pswp__button pswp__button--share" title="Share"></button>

    				<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

    				<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

    				<!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
    				<!-- element will get class pswp__preloader--active when preloader is running -->
    				<div class="pswp__preloader">
    					<div class="pswp__preloader__icn">
    						<div class="pswp__preloader__cut">
    							<div class="pswp__preloader__donut"></div>
    						</div>
    					</div>
    				</div>
    			</div>

    			<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
    				<div class="pswp__share-tooltip"></div> 
    			</div>

    			<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
    			</button>

    			<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
    			</button>

    			<div class="pswp__caption">
    				<div class="pswp__caption__center"></div>
    			</div>

    		</div>

    	</div>

    </div>
    <!-- photo stop -->

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


    <!-- footer start -->
    <div id="main-footer">
    	<div class="container-fluid">
    		<div class="row">
    			<div class="col-6 col-md-6 col-lg-6 col-xl-2 info-footer">
    				<div class="title-footer">VỀ CHÚNG TÔI</div>
    				<div class="first-link-footer"><a href="">abc là gì?</a></div>
    				<div class="link-footer"><a href="">Quy định sử dụng</a></div>
    			</div>
    			<div class="col-6 col-md-6 col-lg-6 col-xl-2 info-footer">
    				<div class="title-footer">HƯỚNG DẪN SỬ DỤNG</div>
    				<div class="first-link-footer"><a href="">Hướng dẫn mua hàng</a></div>
    				<div class="link-footer"><a href="">Hướng dẫn thanh toán</a></div>
    				<div class="link-footer"><a href="">Hướng dẫn phản hồi</a></div>
    			</div>
    			<div class="col-6 col-md-6 col-lg-6 col-xl-2 info-footer">
    				<div class="title-footer">TRỢ GIÚP</div>
    				<div class="first-link-footer"><a href="">Cách kiểm tra hàng</a></div>
    				<div class="link-footer"><a href="">Hình thức thanh toán</a></div>
    			</div>
    			<div class="col-6 col-md-6 col-lg-6 col-xl-2 info-footer">
    				<div class="title-footer">LIÊN HỆ</div>
    				<div class="first-link-footer"><a href="">Thông tin liên hệ</a></div>
    				<div class="link-footer"><a href="">Giờ làm việc</a></div>
    			</div>
    			<div class="col-12 col-md-12 col-lg-12 col-xl-4" id="fb-footer">
    				<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FdeliveryNow.vn%2F&tabs=timeline&width=340&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=348039728945856" width="340" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- footer stop -->


    <script src="js/detail.js"></script>
</body>
</html>
