#gift-content {
    min-height: 100vh;
    padding-top: 150px;
    background-color: #b14141;
}

#right-content {
    padding-left: 20px;
}

#latest-table {
    height: 40px;
    background-color: #ffb1b1;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
    text-align: center;
    line-height: 40px;
    color: #5d0303;
    font-size: 20px;
    font-weight: 700;
}

#content-table {
    border: 1px #ffb1b1 solid;
    border-top: none;
    background-color: white;
    height: 450px;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.vinaphone {
    height: 18px;
    background-position-y: 0;
    margin-top: 14px;
}

.viettel {
    height: 42px;
    background-position-y: -18px;
    margin-top: 3px;
}

.vnmobile {
    height: 42px;
    background-position-y: -60px;
    margin-top: 3px;
}

.gmobile {
    height: 24px;
    background-position-y: -102px;
    margin-top: 12px;
}

.mobifone {
    height: 16px;
    background-position-y: -126px;
    margin-top: 15px;
}

.logo-item {
    width: 90px;
    height: 50px;
    border: 1px #4481a5 solid;
    border-radius: 10px;
}

.image-wrapper {
    width: 1%;
    border-collapse: separate !important;
    padding: 5px;
}

.description-history {
    color: #bf3030bd;
    font-size: 14px;
    font-weight: 600;
}

.cellular {
    width: 70px;
    background-image: url('https://spike123456.github.io/demo/tnm/celculartest.png');
    background-size: cover;
    margin-left: 10px;
    background-position-x: 0;
}

#content-table > table > tbody > tr:not(:first-child) {
    border-top: 1px #845e197d solid;
}

#history-gift {
    margin: 175px auto 0;
}

#main-gift-loading {
    width: 100px;
    height: 100px;
    -webkit-mask-image: url('https://asset.doraeshop.vn/svg/general-loading.svg');
    -webkit-mask-size: 100px 100px;
    mask-image: url('https://asset.doraeshop.vn/svg/general-loading.svg');
    mask-size: 100px 100px;
    background-color: white;
    margin: 100px auto 0;
}

#phone-gift {
    text-align: center;
    color: #ece1e1;
    font-size: 36px;
    font-weight: 700;
    padding: 0 5px;
}

.phone-area {
    text-align: center;
    margin-top: 20px;
}

#phone-input {
    border: none;
    text-align: center;
    border-radius: 26px;
    font-size: 20px;
    outline: none;
    padding: 5px;
    font-weight: 600;
}

#verify-btn {
    color: white;
    background: #4C8FFB;
    border: 1px #3079ED solid;
    box-shadow: inset 0 1px 0 #80B0FB;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 20px;
    font-weight: 600;
}

#verify-btn:hover {
    border: 1px #2F5BB7 solid;
    box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
    background: #3F83F1;
}

#verify-btn:active {
    box-shadow: inset 0 2px 5px #2370FE;
}

#grid-content {
    padding: 0 100px;
}

.card-wrapper {
    width: 100%;
    height: 250px;
    padding: 20px;
}

.content-card {
    width: 100%;
    height: 100%;
    background-color: #F0E7E7;
}

.top-left-card {
    background-image: url(https://spike123456.github.io/demo/tnm/g1.png);
    width: 34px;
    height: 34px;
    position: absolute;
    top: 20px;
}

.top-right-card {
    background-image: url(https://spike123456.github.io/demo/tnm/g2.png);
    width: 34px;
    height: 34px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.bottom-left-card {
    background-image: url(https://spike123456.github.io/demo/tnm/g3.png);
    width: 43px;
    height: 42px;
    position: absolute;
    bottom: 20px;
}

.bottom-right-card {
    background-image: url(https://spike123456.github.io/demo/tnm/g4.png);
    width: 43px;
    height: 42px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}