#gift-content {
    min-height: 100vh;
    padding-top: 150px;
    background-color: #b14141;
}

#right-content {
    padding-left: 20px;
}

#latest-table {
    height: 40px;
    background-color: #ffb1b1;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
    text-align: center;
    line-height: 40px;
    color: #5d0303;
    font-size: 20px;
    font-weight: 700;
}