#gift-content {
    min-height: 100vh;
    padding-top: 150px;
    background-color: #b14141;
}

#right-content {
    padding-left: 20px;
}

#latest-table {
    height: 40px;
    background-color: #ffb1b1;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
    text-align: center;
    line-height: 40px;
    color: #5d0303;
    font-size: 20px;
    font-weight: 700;
}

#content-table {
    border: 1px #ffb1b1 solid;
    border-top: none;
    background-color: white;
    height: 450px;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.vinaphone {
    height: 18px;
    background-position-y: 0;
    margin-top: 14px;
}

.viettel {
    height: 42px;
    background-position-y: -18px;
    margin-top: 3px;
}

.vnmobile {
    height: 42px;
    background-position-y: -60px;
    margin-top: 3px;
}

.gmobile {
    height: 24px;
    background-position-y: -102px;
    margin-top: 12px;
}

.mobifone {
    height: 16px;
    background-position-y: -126px;
    margin-top: 15px;
}

.logo-item {
    width: 90px;
    height: 50px;
    border: 1px #4481a5 solid;
    border-radius: 10px;
}

.image-wrapper {
    width: 1%;
    border-collapse: separate !important;
    padding: 5px;
}

.description-history {
    color: #bf3030bd;
    font-size: 14px;
    font-weight: 600;
}

.cellular {
    width: 70px;
    background-image: url('https://spike123456.github.io/demo/tnm/celculartest.png');
    background-size: cover;
    margin-left: 10px;
    background-position-x: 0;
}

#content-table > table > tbody > tr:not(:first-child) {
    border-top: 1px #845e197d solid;
}